.main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #184eb2;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #646464;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .shopIcon{
    width: 30px;
    height: 30px;
    padding: 1rem;
    color: white;
  }
  .shopList{
    position: absolute;
    top: -2px;
    right: 20px;
    color: white;
}